       html, 
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #F5F5F5;/*页面背景颜色*/
            color: #484848;
        }
        
        .wrap {
            height: auto;
            min-height: 70%;
            position: relative;
            margin-bottom: 80px;
        }
        
        .header {
            color: #00897B;/*malihong 的颜色*/
            height: 50px;
            vertical-align: middle;
            font-size: 80%;
        }
       
        
        .content {
            padding: 10px;
            margin-bottom: 50px;
        }
        
        .footer {
            margin-top: -30px;
            padding:20px 0px 0px 0px;
            width: 100%;
            height: 280px;
            background: #2B2D2E;
            color:white;
            text-align: center;
        }
        /*footer word style*/
        .labelStyleF1Mcx{
            margin-left:25px;
            margin-right:10px;
            padding-top:10px;
            color:white;
            text-align: center;
            font-size:150%;
            
        }
        /*footer word style*/
        .labelStyleF2Mcx{
            margin-left:25px;
            margin-right:10px;
            padding-top:10px;
            color:#8c8c8c;
            text-align: center;
            font-size:120%;
            
        }
        
        /*灰色标签题头*/
        .labelTitleStyleMcx {
            background: #EDEFED;
            border-width: 1px 1px 0px 1px;
            border-color: #C4C4C4;
            border-style: solid;
            padding: 12px 20px 12px 20px;
            margin-top:16px;        
        }
        /*footer link style*/
        .footerLinkSyMcx a{
            color:#8c8c8c;
            padding:4px;
            letter-spacing:1px;
            word-spacing:3px;
            text-decoration: none;
            
        }
        /*footer copyright style*/
        .copyrightBottomMcx{
            position:relative;
            bottom:-30px;
            color:#8c8c8c;
        }
        
        .webTitleh1FontMcx{
            font-size: 2.5em;
            margin: 0.67em 0;
            text-decoration: none;
            color:#00897B;
        }
        /*TestMenuMcx*/
        /*去掉初始menu前面的点*/
        .testMenuMcx ul {
            list-style: none;
        }
        .testMenuMcx a:hover {
            font-weight: bold;
            color: #d9d9d9;
        }
        /*菜单每个组成部分的style，无下划线 灰色 padding5px*/
        .testMenuMcx a:active {           
        font-weight: bold;
        font-size: 102%;
        text-decoration: underline;
        }
        
        
    /*水平菜单的风格*/
        /*menu横向左对齐，每个内容之间距离10px*/
        .horizontalMenuMcx li {
            float: left;
            margin-right: 10px;
        }
        
        /*menu link去掉下划线*/
        .menuStyleMcx a {
            padding: 5px 5px 15px 5px;
            color: #BDBDBD;
            text-decoration: none;
        }
        .headerLinkStyleMcx a {
            font-size: 120%;
            font-weight: bold;
            color:#595959;
        }
        .headerMenuBackgroundMcx {
            background: #00897B;/*菜单条的颜色*/
            padding-bottom: 5px;
        }
        .highlightBorderMcx {
            border-style: solid;
            border-width: 2px;
            border-color:#404040;
            padding:3px;
            margin-top:-4px;
        }
        

   /*垂直菜单每个组成部分的style*/
       .menustyleVerMcx a{
           border:1px black;
           padding:0px 5px 5px 5px;
           color: #595959;
           text-decoration: none;
           margin-bottom:5px;
           margin-top:-10px;
           line-height:30px;
           font-size:100%;
       }
       /*选中的菜单*/
       .menuItemSelectedMcx {
            font-weight: bold;
            font-size: 100%;
            border-bottom-width: 2px;   
        }
        
        /*错误信息提示*/
        
        .successMcx {
            color: #4F8A10;
            background-color: #DFF2BF;
            padding:15px 0px 0px 0px;
            text-align: center;	 
            padding-left:auto;
            padding-right:auto;
            height: 30px;
        }
        .errorMcx {
            color: #D8000C;
            background-color: #FFBABA;
            padding:15px 0px 0px 0px;
            text-align: center;	 
            padding-left:auto;
            padding-right:auto;
            height: 30px;
        }
        .infoBlankMcx {
		height:10px;	
	    }
       
        .noUnderlineMcx a{
            text-decoration: none;
            color:#595959;
        }
        
        .insidePageContentMcx {
            background: white;           
            margin-bottom:10px;
            border: 1px solid #C4C4C4;
            padding:5px 5px 20px 15px;            
        }
        
        .creditcardBoxMcx{
            background: #4DB6AC;
            color:white;
            margin-left:0px;
            text-align: left;
            font-weight: bold;
            padding:20px 10px 20px 10px;
            margin:5px 0px 3px 0px;
            
        }